.App {
  font-family: sans-serif;
  text-align: center;
}

textarea {
  padding: 1rem;
}

label {
  display: block;
  margin: 1rem 0;
}

.frame {
  padding: 1rem;
  margin: 1rem;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  border: 1px solid black;
  margin: 2rem auto;
  padding: 1rem;
}

@media screen and (min-width: 1024px) {
  .container {
    width: 50%;
  }
}
